body {
    width: 100%;
    height: 100%;
    min-width: 850px;
    min-height: 600px;
    margin: 0;
    padding: 0;
    background-image: url("../image/fabric.png");
}

html, .row{
    height: 100%;
}

.row {
    width: 60%;
    margin: 0 auto;
}

.activity-ico {
    float: right;
    max-width: 50px;
    max-height: 50px;
}

#pane {
    background: linear-gradient(to bottom, rgb(219, 255, 255), white);
    border: 2px solid rgb(65, 74, 107);
    border-radius: 5px;
}

.dropdown-menu > li{
    height: 60px;
}

.dropdown-menu > li > a:hover {
    height: 100%;
    background: rgb(65, 74, 107);
    color: rgb(255, 255, 255);
}